<div class="row justify-content-center margen">
  <div class="col-11">
    <h4 class="mb-3">Actualizar videojuego</h4>
    <ng-template #loading>
      <img class="img-fluid rounded mx-auto d-block" src="/assets/img/loading.gif" alt="Cargando..."
        style="width: 300px;" />
    </ng-template>
    <ng-template [ngIf]="chofer" [ngIfElse]="loading">
      <form [formGroup]="formUpdate" (ngSubmit)="submitForm()" novalidate>
        <div class="row justify-content-center margen">
          <!--Formulario información-->
          <div class="col-md-6">
            <input type="hidden" formControlName="id" />

            <div class="form-group row">

              <label class="col-sm-4 col-form-label" for="cedula">Cedula </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="cedula" name="cedula" placeholder="Cedula" />
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('cedula', 'required')" class="text-danger">
                  La cédula del chofer es requerida
                </small>
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('cedula', 'pattern')" class="text-danger">
                  La cédula debe tener 9 digitos numerales, incluidos los Ceros.
                </small>
              </div>
            </div>

            <div class="form-group row">

              <label class="col-sm-4 col-form-label" for="nombre">Nombre </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="nombre" name="nombre" placeholder="Nombre" />
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('nombre', 'required')" class="text-danger">
                  El nombre del chofer es requerido
                </small>
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('nombre', 'pattern')" class="text-danger">
                  El nombre no permite numeros ni caracteres especiales
                </small>
              </div>
            </div>


            <div class="form-group row">

              <label class="col-sm-4 col-form-label" for="apellido1"> Primer Apellido </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="apellido1" name="apellido1"
                  placeholder="apellido1" />
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('apellido1', 'required')" class="text-danger">
                  El apellido del chofer es requerido
                </small>
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('apellido1', 'pattern')" class="text-danger">
                  El apellido no permite numeros ni caracteres especiales
                </small>
              </div>
            </div>

            <div class="form-group row">

              <label class="col-sm-4 col-form-label" for="apellido1"> Segundo Apellido </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="apellido2" name="apellido2"
                  placeholder="apellido2" />
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('apellido2', 'required')" class="text-danger">
                  El apellido del chofer es requerido
                </small>
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('apellido2', 'pattern')" class="text-danger">
                  El apellido no permite numeros ni caracteres especiales
                </small>
              </div>
            </div>


            <div class="form-group row">
              <label for="telefono" class="col-sm-4 col-form-label">Teléfono</label>
              <div class="col-sm-8">
                <input type="text" class="formControl" name="telefono" formControlName="telefono" />
              </div>

              <div class="col-auto">
                <small *ngIf="errorHandling('telefono', 'required')" class="text-danger">
                  El telefono es requerido
                </small>
                <small *ngIf="errorHandling('telefono', 'pattern')" class="text-danger">
                  El telefono debe contener 8 digitos numerales.
                </small>
              </div>
            </div>




            <div class="form-group row">
              <label for="vehiculo" class="col-sm-4 col-form-label">Vehiculo</label>
              <select class="form-control" formControlName="vehiculo_id">
                <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id">
                  {{vehiculo.tipovehiculo.name}} - {{vehiculo.marca}} {{vehiculo.modelo}}
                </option>
              </select>
              <div class="col-sm-4">
                <small *ngIf="errorHandling('vehiculo_id', 'required')" class="text-danger">
                  El vehiculo es requerido
                </small>
              </div>
            </div>



            <div class="col-md-6 mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-secondary" (click)="onReset()">
                  Cancelar
                </button>
                <button type="button" class="btn btn-info" (click)="onBack()">
                  Regresar
                </button>
              </div>
            </div>
          </div>

        </div>
      </form>
</ng-template>
    </div>
  </div>
