<div class="row justify-content-center margen ">

  <div class="col-md-8">
    <h4 class="mb-3 TituloDark1">Lista de Productos</h4>
    <button type="button" class="btn btn-light btn-sm" (click)="crearItem()">
      <i class="fas fa-plus LetraDark1"></i>
    </button>
    <ng-template #loading>
      <img class="img-fluid rounded mx-auto d-block" src="/assets/img/loading.gif" alt="Cargando..."
        style="width: 300px;" />
    </ng-template>
    <table class="table table-hover"  style="margin-top: 1em">
      <thead class='thead'>
        <tr>
          <th scope="col" class="LetraDark1">#</th>
          <th scope="col" class="LetraDark1">Nombre</th>
          <th scope="col" class="LetraDark1">Imagen</th>
          <th scope="col" class="LetraDark1">Descripcion</th>
          <th scope="col" class="LetraDark1">Categoria</th>
          <th scope="col" class="LetraDark1">Precio</th>

          <th scope="col" class="LetraDark1">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <ng-template [ngIf]="datos" [ngIfElse]="loading">
        <tr *ngFor="let item of datos">
          <td class="LetraDark1">{{item.id}}</td>
          <td class="LetraDark1">{{item.name}}</td>
          <td><img src="{{item.pathImagen}}" style="height:5em;"></td>
          <td class="LetraDark1">{{item.description}}</td>
          <td class="LetraDark1">{{item.categoria.name}}</td>
          <td class="LetraDark1">{{item.precio}}</td>


          <td>
            <button type="button"   class="btn btn-light  btn-sm btnDark2" (click)="actualizarItem(item.id)">
              <i class="fas fa-pencil-alt LetraDark1 "></i>
            </button>
            <button type="button" class="btn btn-light  btn-sm" [routerLink]="['/producto/',item.id]">
              <i class="far fa-eye LetraDark1"></i>
            </button>
          </td>


        </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
