<div class="container">


  <div class="row card">
    <div class="card-header">Pedido</div>
    <div class="card-body">
      <div class="col">
        <p class="card-text">Fecha: {{fecha | date:'dd/MM/yyyy'}}</p>
      </div>
<form [formGroup]="formCreate" (ngSubmit)="submitForm()" novalidate>
      <div class="form-group row" style="margin: 1rem auto;">
        <label for="cliente_id" class="col-md-4 offset-md-1 col-form-label card-text">Cliente</label>
        <select class="form-control col-md-4" formControlName="cliente_id">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{cliente.name}}
          </option>
        </select>
        <div class="col-sm-4">
          <small *ngIf="errorHandling('cliente_id', 'required')" class="text-danger">
            El cliente es requerido
          </small>
        </div>
      </div>
</form>
    </div>


  </div>

  <div class=" row card">
    <div class="card-header">Detalle del Pedido</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Producto
            </th>
            <th class="right">
              Precio
            </th>
            <th class="center">
              Cantidad
            </th>
            <th class="right">
              SubTotal
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody>


          <tr class="group" style="cursor: pointer" *ngFor="let item of items; let i = index">
            <td>
              <p>{{ item.product.name}}</p>


            </td>
            <td class="right">
              <p>${{item.precio}}</p>
            </td>
            <td class="center">
              <input id="cantidad " type="number" class="form-control mb-2" [(ngModel)]="item.cantidad"
                (change)=" actualizarCantidad(item)">
            </td>

            <td class="right">
              <p>${{ item.subtotal}}</p>
            </td>
            <td>
              <button class="btn btn-light btn-sm" (click)="eliminarItem(item)"><i
                  class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row clearfix d-flex justify-content-end">
        <div class="col-md-4">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <td class="left">
                  <strong>Total</strong>
                </td>
                <td class="right">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input readonly type="text" class="form-control" id="total" type="text" [value]="total">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col">
            <button class="btn btn-success mb-2 float-right" (click)="ordenar()">Ordenar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
