<div class="row justify-content-center margen ">

  <div class="col-md-8">
    <h4 class="mb-3 TituloDark2">Lista de Pedidos</h4>
    <button type="button" class="btn btn-light btn-sm" (click)="crearItem()">
      <i class="fas fa-plus"></i>
    </button>

      <ng-template #loading>
        <img class="img-fluid rounded mx-auto d-block" src="/assets/img/loading.gif" alt="Cargando..."
          style="width: 300px;" />
      </ng-template>
    <table class="table table-hover" style="margin-top: 1em">
      <thead>
        <tr>
          <th scope="col" class="TituloDark1">#</th>
          <th scope="col" class="TituloDark1">Cliente</th>
          <th scope="col" class="TituloDark1">Fecha Pedido</th>
          <th scope="col" class="TituloDark1">Estado</th>
          <th scope="col" class="TituloDark1">Express</th>
          <th scope="col" class="TituloDark1">Envio</th>
          <th scope="col" class="TituloDark1">Subtotal</th>
          <th scope="col" class="TituloDark1">Impuesto</th>
          <th scope="col" class="TituloDark1">Total</th>



        </tr>
      </thead>
      <tbody>
          <ng-template [ngIf]="datos" [ngIfElse]="loading">
        <tr *ngFor="let item of datos">
          <td class="LetraDark1">{{item.id}}</td>
          <td class="LetraDark1">{{item.cliente.name}}</td>
          <td class="LetraDark1">{{item.created_at | date:"MM/dd/yyyy" }}</td>
          <td class="LetraDark1">{{item.estadopedido.name}}</td>
          <td class="LetraDark1">{{item.express?'Si':'No'}}</td>
          <td class="LetraDark1">{{item.gastoenvio}}</td>
          <td class="LetraDark1">{{item.subtotal}}</td>
          <td class="LetraDark1">{{item.gastoimpuesto}}</td>
          <td class="LetraDark1">{{item.total}}</td>
               

        </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
