<div class="row justify-content-center margen ">

  <div class="col-md-8">
    <h4 class="mb-3 TituloDark2">Lista de Pedidos</h4>
    <button type="button" class="btn btn-light btn-sm">
      <i class="fas fa-plus"></i>
    </button>
    <table class="table table-hover" style="margin-top: 1em">
      <thead>
        <tr>
          <th scope="col" class="TituloDark1">#</th>
          <th scope="col" class="TituloDark1">Cliente</th>
          <th scope="col" class="TituloDark1">Fecha Pedido</th>
          <th scope="col" class="TituloDark1">Estado</th>
          <th scope="col" class="TituloDark1">Express</th>
          <th scope="col" class="TituloDark1">Envio</th>
          <th scope="col" class="TituloDark1">Subtotal</th>
          <th scope="col" class="TituloDark1">Impuesto</th>
          <th scope="col" class="TituloDark1">Total</th>

          <th scope="col" class="TituloDark1">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos">
          <td class="LetraDark1">{{item.id}}</td>
          <td class="LetraDark1">{{item.cliente.name}}</td>
          <td class="LetraDark1">{{item.created_at | date:"MM/dd/yyyy" }}</td>
          <td class="LetraDark1">{{item.estadopedido.name}}</td>
          <td class="LetraDark1">{{item.express?'Si':'No'}}</td>
          <td class="LetraDark1">{{item.gastoenvio}}</td>
          <td class="LetraDark1">{{item.subtotal}}</td>
          <td class="LetraDark1">{{item.gastoimpuesto}}</td>
          <td class="LetraDark1">{{item.total}}</td>
                  <td>
            <button type="button" class="btn btn-light  btn-sm btnDark2">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
