<div class="row justify-content-center margen">
  <div class="col-md-11">
    <h4 class="mb-4 offset-md-2 LetraDark1">Actualizar Producto</h4>
    <div class="container">

      <ng-template #loading>
        <img class="img-fluid rounded mx-auto d-block" src="/assets/img/loading.gif" alt="Cargando..."
          style="width: 300px;" />
      </ng-template>
      <ng-template [ngIf]="producto" [ngIfElse]="loading">

      <form [formGroup]="formUpdate" (ngSubmit)="submitForm()" novalidate>
        <div class="row justify-content-center margen">
          <!--Formulario información-->
          <div class="col-md-5">
            <input type="hidden" formControlName="id" />
            <div class="form-group row">


              <label class="col-sm-4 col-form-label LetraDark1" for="name">Nombre </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="name" name="name"
                  placeholder="Nombre videojuego" />
              </div>
              <div class="col-auto">
                <small *ngIf="errorHandling('name', 'required')" class="text-danger">
                  El nombre es requerido
                </small>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label LetraDark1" for="description">Descripción </label>
              <div class="col-sm-8">
                <input type="text" class="formControl" formControlName="description" name="description" />
              </div>

              <div class="col-sm-4">
                <small *ngIf="errorHandling('description', 'required')" class="text-danger">
                  La descripción  es requerida
                </small>
              </div>
            </div>



            <div class="form-group row">
              <label for="precio" class="col-sm-4 col-form-label LetraDark1">Precio</label>
              <div class="col-sm-8">
                <input type="text" class="formControl" name="precio" formControlName="precio" />
              </div>

              <div class="col-auto">
                <small *ngIf="errorHandling('precio', 'required')" class="text-danger">
                  El precio es requerido
                </small>
                <small *ngIf="errorHandling('precio', 'pattern')" class="text-danger">
                  El precio debe contener solo números
                </small>
              </div>
            </div>


            <div class="form-group row">
              <label for="categoria_id" class="col-sm-4 col-form-label">Categoria</label>
              <select class="form-control" formControlName="categoria_id">
                <option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{categoria.name}}
                </option>
              </select>
              <div class="col-sm-4">
                <small *ngIf="errorHandling('categoria_id', 'required')" class="text-danger">
                  La categoria es requerida
                </small>
              </div>
            </div>


            <div class="form-group row">
              <label for="color_id" class="col-sm-4 col-form-label">Color</label>
              <select class="form-control" formControlName="color_id">
                <option *ngFor="let color of colores" [value]="color.id">
                  {{color.name}}
                </option>
              </select>
              <div class="col-sm-4">
                <small *ngIf="errorHandling('color_id', 'required')" class="text-danger">
                  El color es requerido
                </small>
              </div>
            </div>


            <div class="form-group row">
              <label for="tallas" class="col-sm-4 col-form-label">Tallas </label>
              <div class="col-sm-8">
                <!--Array control genero-->
                <div formArrayName="tallas">
                  <!--Nombre del control con el indice y valor obtenido de la lista de generos-->
                  <!--Cada vez que cambia o se selecciona, debe actualizar el array que guarda los id de genero-->
                  <div class="form-check" *ngFor="let p of tallas.controls; index as i">
                    <input type="checkbox" class="form-check-input" [formControlName]="i" [value]="tallasList[i]?.id"
                      (change)="onCheckChange(tallasList[i]?.id, $event)" />
                    <label class="form-check-label">{{
              tallasList[i]?.name
            }}</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6 mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-light btnDarkLight1 ">Guardar</button>
                <button type="reset" class="btn btn-secondary" (click)="onReset()">
                  Cancelar
                </button>
                <button type="button" class="btn btn-light btnLightDark2" (click)="onBack()">
                  Regresar
                </button>
              </div>
            </div>
          </div>


          <!--Imagen-->
          <div class="col-md-6  offset-md-1">
            <div class="form-group row">
            <!-- <label for="image" class="col-sm-2 col-form-label">Imagen </label>
->
              <!--Mostrar imagen seleccionada-->
              <div *ngIf="imageURL && imageURL !== ''" class="card" style="width: 20rem; margin: 0 auto 2rem auto;">
                <img [src]="imageURL" alt="Imagen videojuego" class="img-fluid card-img-top">
              </div>
              <div class="col-sm-8 mb-5 ">
                <input type="file" class="formControl" name="image" (change)="onFileSelect($event)" style="margin: 0 auto;" />
              </div>

            </div>
          </div>
        </div>
      </form>
</ng-template>
    </div>
  </div>
